header {
  background-color: rgb(20, 90, 230);
  border: 1px solid;
  min-height: 62px;
}

.nav-bar {
  justify-content: space-between;
  display: flex;
  width: 100%;
  min-height: 64px;
}

.greeting {
  display: flex;
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-right: 10px;
  white-space: nowrap;
}

.logo {
  font-size: 22px;
  width: auto;
  margin: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Concert One', cursive;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  margin-right: 11%;
  cursor: pointer;
}

.logo-img {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 350px;
  margin-right: 5px;
}

.nav-button {
  font-size: 16px;
  font-weight: 400;
  background-color: inherit;
  border-radius: 4px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  margin: 10px;
  min-width: 58px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
}

.nav-button-text {
  text-wrap: none;
}

.nav-button:hover, .search-button:hover {
  transition: background-color 0.2s ease;
  background-color: #0014B9;
  cursor: pointer;
}

.home-search .search-input {
  min-width: 500px;
  font-size: 18px;
  padding: 11px;
}

.search-form .search-input {
  min-width: 500px;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search-input:focus, .search-button:focus {
  outline: 0;
}

.search-form, .home-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

.home-search .search-button {
  width: 34px;
  height: 34px;
  background-color: #1D32D7;
  border-width: 0px;
}

.search-form .search-button {
  width: 28px;
  height: 28px;
  background-color: #1D32D7;
  border-width: 0px;
}
