header {
  background-color: rgb(20, 90, 230);
  border: 1px solid;
  min-height: 62px;
}

.nav-bar {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.greeting {
  display: flex;
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-right: 10px;
}

.logo {
  font-size: 22px;
  width: auto;
  margin: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Fontdiner Swanky';
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.logo-img {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-button {
  font-size: 16px;
  font-weight: 400;
  background-color: #1D32D7;
  border-radius: 4px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  margin: 10px;
}

.nav-button:hover, .search-button:hover {
  transition: background-color 0.2s ease;
  background-color: #0014B9;
}

.search-input {
  min-width: 500px;
  font-size: 18px;
  padding: 11px;
}

.search-form, .home-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 38%;
  width: 100%;
  left: 1.5%;
}

.search-button {
  width: 34px;
  height: 34px;
  background-color: #1D32D7;
  border-width: 0px;
}
