.home {
  background-image: url("https://static1.squarespace.com/static/51c748abe4b0c275d0aa86bf/56141f2be4b0a4afc2d17505/56141f47e4b00b973f0ec806/1469211499982/Ecco-Domani-Summer-Cinemagraph-980px.gif?format=750w");
  background-size: cover;
  background-position: center center;
  height: 600px;
  width: 100%;
}

.tint {
  z-index: 1;
  height: 600px;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
