.home {
  background-image: url("http://res.cloudinary.com/nearbytes/image/upload/v1495211213/Ecco-Domani-Summer-Cinemagraph-980px_u7tcxx.gif");
  background-size: cover;
  background-position: center center;
  height: 600px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.tint {
  height: 600px;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

.home-logo {
  font-size: 36px;
  width: auto;
  margin: 15px;
  font-family: 'Fontdiner Swanky';
  color: white;
  text-shadow: 2px 2px 4px #000000;
  z-index: 1;
  position: absolute;
  top: 29%;
  left: 44%;
  justify-content: center;
  align-items: center;
}
