.home {
  background-image: url("http://res.cloudinary.com/nearbytes/image/upload/v1495211213/Ecco-Domani-Summer-Cinemagraph-980px_u7tcxx.gif");
  background-size: cover;
  background-position: center center;
  height: 600px;
  width: 100%;
}

.tint {
  z-index: 1;
  height: 600px;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
