.main-name {
  font-weight: bold;
  font-size: 40px;
  display: flex;
  margin-bottom: 7px;
}

.rating-stars {
  display: flex;
  flex-direction: row;
  width: 125px;
  margin-right: 13px;
}

.star {
  margin: 1px;
  display: flex;
  height: 24px;
  width: 24px;
}

.review-stars-num {
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
  height: 24px;
  align-items: center;
}

.restaurant-show-main {
  display: flex;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 500px;
  flex-wrap: wrap;
}

.main-info {
  margin-top: 30px;
  height: 115px;
  margin-right: 12vw;
}

.main-links {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 115px;
  margin-left: 12vw;
}

.write-a-review {
  display: flex;
  background-color: #1D32D7;
  color: white;
  border-color: #1D328C;
  width: 125px;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  margin-right: 20px;
  height: 18px;
  align-items: center;
}

.write-a-review:hover {
  transition: background-color 0.2s ease;
  background-color: #3146EB;
}

.camera-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.add-photo {
  display: flex;
  display-direction: row;
  align-items: center;
  font-size: 12px;
  height: 16px;
  border-color: rgb(204, 204, 204);
  border-width: 1px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.map-and-photos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.map {
  height: 300px;
  width: 300px;
  display: flex;
  margin-right: 10px;
}

.doge {
  height: 25vh;
  width: 12vw;
  display: flex;
  margin: 10px;
}

.restaurant-show-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.review-container {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgb(230, 230, 230);
  height: 600px;
  width: 600px;
  margin-top: 30px;
}

.restaurant-show-info {
  display: flex;
  flex-direction: column;
}

.days-hours {
  display: flex;
  flex-direction: row;
}

ul.days li, ul.hours li {
  margin-bottom: 3px;
  font-size: 14px;
}

ul.days li {
  font-weight: bold;
}

ul.days {
  margin-left: 30px;
}

ul.hours li {
  margin-left: 20px;
}

h4.hours-heading {
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 30px;
  color: #145AE6;
}
