.restaurant-item-photo {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 12px;
}

.restaurant-item, .rating-reviews {
  display: flex;
  flex-direction: row;
}

.restaurant-item-info, .restaurant-item-contact {
  display: flex;
  flex-direction: column;
}

.restaurant-item-contact {
  font-size: 14px;
  justify-content: center;
}

.restaurant-item-info {
  min-width: 350px;
  padding-right: 15px;
  justify-content: center;
}

.restaurant-name {
  font-size: 16px;
}

.rating-reviews {
  align-items: center;
}

.search-results-map {
  width: 300px;
  height: 300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 18px;
}

.search-results-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 18px;
  width: 100%;
  overflow: scroll;
  min-height: 75%;
}

.restaurant-item:not(:first-child) {
  border-color: rgb(230, 230, 230);
  border-top-width: 1px;
  border-style: solid;
}

.restaurant-item {
  padding-top: 18px;
  padding-bottom: 18px;
}

.restaurant-price-categories {
  font-size: 14px;
}

.rating-reviews {
  padding-top: 6px;
  padding-bottom: 6px;
}

.all-restaurants-container {
  padding-left: 15px;
  padding-right: 15px;
}

.no-results-found {
  min-width: 655px;
  display: flex;
  justify-content: center;
}
