h3 {
  color: rgb(20, 90, 230);
  font-size: 22px;
  margin: 5px;
}

.sub-heading {
  font-size: 15px;
  text-align: center;
}

.link {
  color: #1D32D7;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.session-page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  min-height: 600px;
}

.errors {
  text-align: center;
  color: red;
  font-size: 17px;
  margin: 20px;
  position: absolute;
  top: 10%;
}

.form-logo-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 40%;
  min-width: 300px;
}

.login-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-direction: column;
  margin: 15%;
  min-width: 300px;
}

.login-input {
  width: 200px;
  padding-left: 0;
  padding-right: 0;
}

.submit, .submit-guest {
  background-color: #1D32D7;
  color: white;
  line-height: 3px;
  width: 100px;
  border-color: #1D328C;
  margin: 5px;
}

.submit {
  padding: 20px;
  border-radius: 3px;
}

.submit-guest {
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border-color: rgb(29, 50, 140);
}

#session-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 20px;
}

.guest {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32px;
}

.submit-buttons {
  display: flex;
  flex-direction: row;
}

.submit:hover, .submit-guest:hover {
  transition: background-color 0.2s ease;
  background-color: #3146EB;
  cursor: pointer;
}

.submit-div {
  text-align: center;
}

.disclaimer {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 10px;
  display: flex;
  width: 200px;
}

.graphic {
  width: 400px;
  margin: 15%;
}
