<!DOCTYPE html>
<html>
  <head>
    <title>NearBytes</title>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpQTX2wzR6sCChUo0TmV2QVK5M6xbuM1I"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
